
/* Theme 3 ----------------------------------------------------------------- */

.ce-countdown--theme-3 {
	/*background: rgba(0,0,0,.5);*/
	color: #000;
	font-family: 'bebas-neue', sans-serif;
	font-size: 35px;
	font-weight: 400;
	padding: 20px;
	text-align: center;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, .4);
}
	
.ce-countdown--theme-3 .ce-col {
	display: inline-block;
	font-size: 40px;
	padding-bottom: 5px;
	width: 2em;
}

.ce-countdown--theme-3 .ce-col + .ce-col {
	border-left: 3px solid #65ba99;
}

.ce-countdown--theme-3 .ce-days-label,
.ce-countdown--theme-3 .ce-hours-label,
.ce-countdown--theme-3 .ce-minutes-label,
.ce-countdown--theme-3 .ce-seconds-label,
.ce-countdown--theme-3 .ce-dseconds-label,
.ce-countdown--theme-3 .ce-mseconds-label {
	color: #fff;
	display: block;
	font-size: 16px;
	font-weight: 400;
	text-transform: lowercase;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, .7);
}

@media all and (max-width: 400px) {
	.ce-countdown--theme-3 .ce-col {
		font-size: 35px;
	}

	.ce-countdown--theme-3 .ce-days-label,
	.ce-countdown--theme-3 .ce-hours-label,
	.ce-countdown--theme-3 .ce-minutes-label,
	.ce-countdown--theme-3 .ce-seconds-label,
	.ce-countdown--theme-3 .ce-dseconds-label,
	.ce-countdown--theme-3 .ce-mseconds-label {
		font-size: 14px;
	}
}

@media all and (max-width: 300px) {
	.ce-countdown--theme-3 .ce-col {
		display: block;
		font-size: 25px;
		margin: 0 auto;
	}

	.ce-countdown--theme-3 .ce-col + .ce-col {
		border-left: 2px solid #65ba99; /*Added*/
		border-top: 1px solid #65ba99;
		margin-top: 10px;
	}

	.ce-countdown--theme-3 .ce-days-label,
	.ce-countdown--theme-3 .ce-hours-label,
	.ce-countdown--theme-3 .ce-minutes-label,
	.ce-countdown--theme-3 .ce-seconds-label,
	.ce-countdown--theme-3 .ce-dseconds-label,
	.ce-countdown--theme-3 .ce-mseconds-label {
		font-size: 11px;
	}
}

